body{
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}
.page{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

/*HEADER*/

.Header{
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.053);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.companylogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.companyname{
  font-family: "Playfair Display";
  color: white;
  font-weight: 400;
  font-size: 20px;
}
.headerlogo{
  width: 50px;
  filter: invert(1);
}
.headerlinks{
  width: auto;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkdiv{
  font-family: "Bebas Neue";
  color: rgb(203, 203, 203);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.linkdiv:hover{
  color: white;
  transition: 0.3s;
  cursor: pointer;
}




/*Page1*/
.page1{
  height: 100vh;
  width: 100%;
  background-image: url('/carousel1img1.jpg');
  background-position: center;
  background-size: cover;
}