body{
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  overflow-x: hidden;
}
.page{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: grey;
  width: 3px;
  border-radius: 40px;
}
.horizontalscrollcard::-webkit-scrollbar {
  height: 5px; /* Height for horizontal scrollbar */
}

.horizontalscrollcard::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 40px;
  height: 3px; /* Height for the scrollbar thumb */
}

/*HEADER*/

.Header{
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  color: black;
}
.companylogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.companyname{
  font-family: "Playfair Display";
  color: white;
  font-weight: 400;
  font-size: 20px;
}
.headerlogo{
  width: 50px;
  filter: invert(1);
}
.headerlinks{
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkdiv{
  font-family: "Bebas Neue";
  color: rgb(234, 234, 234);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 20px;
  margin-right: 20px;
  text-decoration: none;
}
.linkdiv:hover{
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.headerlinksresponsive{
  display: none;
}

.menubox {
  width: 90%;
  height: auto;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 5%;
  right: 5%;
  background-color: aliceblue;
  display: none;
}
/*Header over*/




/*Page1*/
.page1{
  height: 100vh;
  width: 100%;
  /* background-image: url('/carousel1img1.jpg'); */
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.carousel1,.carousel2,.carousel3{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.carousel1{
  background-image: url('/carousel1img1.jpg');
}
.carousel2{
  background-image: url('/carousel1img2.jpg');
}
.carousel3{
  background-image: url('/carousel1img3.jpg');
}
.carouseltext{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.875), transparent);
  padding-left: 50px;

}
.headercarousel{
  font-size: 100px;
  color: white;
  font-weight: 600;
  line-height: 90px;
}
.subheadcarousel{
  font-size: 20px;
  color: rgb(195, 195, 195);
  font-weight: 500;
  margin-top: 30px;
}
.infobutton{
  width: 150px;
  height: 45px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin-top: 30px;
  border: 2px solid transparent;
}
.infobutton:hover{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
/*Page1*/


/*Page2*/

.page2{
/* background-image: url('/page2back1.jpg'); */
  background-position: center;
  background-size: cover;
  background-color: rgb(240, 240, 240);
  display: flex;justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}
/* .page2::after{
  content: '';
  top: 0;left: 0;right: 0;bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.701);
} */
.circle{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}
.page2head{
  font-size: 40px;
  font-family: 'Bebas Neue';
  font-weight: 600;
  color: black;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.contentpage2{
  font-size: 16px;
  font-weight: 600;
  width: 70%;
  text-align: justify;
  color: black;
  letter-spacing: 1.5px;
  line-height: 25px;
}
.overline{
  width: 60%;
  height: 1px;
  background-color: black;
  margin-bottom: 50px;
}
/*Page2*/

/*Page3*/
.page3{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headingpage3{
  font-size: 40px;
  color: black;
  font-weight: 600;
  letter-spacing: 2px;
}
.productpage{
  margin-top: 40px;
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.line1,.line2{
  width: 50%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productcard{
  width: 98%;
  height: auto;
  overflow: hidden;
  margin: 1%;
}
.prodimg{
  width: 100%;
  height: auto;
}
.prodimg:hover{
  scale: 1.2;
  transition: 0.5s;
}
.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.prodimage:hover .hover-content {
  opacity: 1;
}

.productcard {
  position: relative; /* Ensure position context for absolute positioning */
  width: 98%; /* Adjust width as needed */
  margin: 1%; /* Adjust margins as needed */
}

.prodimg {
  width: 100%;
  height: auto;
  display: block; /* Ensure the image takes full width */
  transition: transform 0.3s ease-out; /* Smooth transition on hover */
}

.prodimage {
  position: relative; /* Ensure position context for absolute positioning */
}


.hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Smooth transition for opacity */
}
.prodcat{
  font-size: 20px;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: 'Bebas Neue';
  margin-left: 20px;
}
.prodname{
  font-size: 50px;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: 'Bebas Neue';
  margin-left: 20px;
  margin-bottom: 20px;
}

.prodimage:hover .hover-content {
  opacity: 1; /* Show the hover content on image hover */
}
.exploremorebutton{
  width: 150px;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  border: 2px solid transparent;
}

.exploremorebutton:hover{
  border: 2px solid black;
  transition: 0.4s;
  background-color: transparent;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.linepg4{
  width: 400px;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.564);
  margin-top: 20px;
}



/*Page3*/

/*Page 4*/
/* Page 4 */
.page4 {
  height: auto;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentpage4 {
  width: 80%;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}
.horizontalscrollcard {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling */
  overflow-y: hidden; /* Hides vertical scrolling */
  width: 75%;
  margin-top: 50px;
  padding: 20px; /* Optional: padding for better aesthetics */
  scroll-snap-type: x mandatory; /* Optional: for snap scrolling */
}
.trustcard {
  flex: 0 0 auto; /* Prevents flex items from shrinking */
  width: 75%; /* Adjust width as necessary */
  height: 70vh;
  border-radius: 40px;
  background-color: black;
  margin-right: 40px;
  scroll-snap-align: start; /* Optional: for snap scrolling */
  position: relative; /* Needed to position the overlay */
  overflow: hidden; /* To clip the overlay */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}
.trustcard1, .trustcard2, .trustcard3 {
  background-position: center;
  background-size: cover;
}
.trustcard1 {
  background-image: url('/eleganttilescard.jpg');
}
.trustcard2 {
  background-image: url('/valuestilecard.jpg');
}
.trustcard3 {
  background-image: url('/rdtilecard.jpg');
}
.trustcard:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, black, transparent);
  border-radius: 40px;
  z-index: 1;
}
.trustcard .content-container {
  z-index: 2; /* Ensure content is above the overlay */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.contentpg4 {
  position: relative;
  z-index: 10;
  font-family: 'Bebas Neue';
  color: white;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 100;
}
.heading {
  position: relative;
  z-index: 10;
  font-family: 'Bebas Neue';
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

/*Page 4*/


/*Page5*/

/*Page5*/

.page5 {
  position: relative; /* Ensure positioning context for the overlay */
  height: 60vh;
  width: 100%;
  background-image: url('/eleganttilescard.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page5::after {
  content: "";
  position: absolute; /* Position the overlay absolutely within .page5 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black overlay */
  z-index: 1; /* Ensure the overlay is above the background but below content */
}

.contentpage5 {
  position: relative; /* Ensure content is above the overlay */
  z-index: 2; /* Ensure the content is above the overlay */
  font-family: 'Bebas Neue';
  color: white;
  font-size: 20px;
  width: 75%;
  padding: 20px; /* Optional: padding for better aesthetics */
}
.calltag{
  font-size: 20px;
  color: white;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  font-family: 'Bebas Neue';
}


/*Page5*/


/*Page6*/

.page6 {
  height: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dimensionsdiv {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.dimensionbox {
  width: 150px;
  height: 300px;
  border-radius: 15px;
  background-color: grey;
  margin: 15px;
  background-position: center;
  background-size: cover;
  position: relative; /* Ensure overlay positions correctly */
  overflow: hidden; /* Prevent overflow issues */
  display: flex;
  justify-content: start;
  align-items: end;
}

.dimensionbox1 {
  background-image: url('/8001600.jpg');
}

.dimensionbox2 {
  background-image: url('/12001200.jpg');
}

.dimensionbox3 {
  background-image: url('/bathroomprev.jpg');
}

.dimensionbox4 {
  background-image: url('/oniceniroprev.jpg');
}

.dimensionbox5 {
  background-image: url('/carousel1img1.jpg');
}

.dimensionbox6 {
  background-image: url('/floorprev.jpg');
}

.dimensionbox7 {
  background-image: url('/8001600.jpg');
}

.dimensionbox::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent white overlay */
  pointer-events: none; /* Ensure overlay does not interfere with click events */
}
.dimcontent{
  color: white;
  font-family: 'Bebas Neue';
  font-size: 18px;
  position: relative;
  z-index: 2;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.exploremoredimbutton{
  width: 180px;
  height: 45px;
  background-color: black;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border: 2px solid transparent;
}
.exploremoredimbutton:hover{
  background-color: transparent;
  border: 2px solid black;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}

/*page7*/

.page7{
  height: auto;
  padding-bottom: 0px;
  padding-top: 40px;
  background-color: rgb(227, 227, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.contentpage7{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;align-items:center;
  flex-direction: column;
  margin-left: 0px;
}
.imagepage7{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;align-items: center;
  transform: translateY(-180px);
}
.side3dimage{
  width: 50%;
}
.textpg7{
  font-size: 20px;
  color: black;
  text-align: justify;
  width: 80%;
  font-weight: 500;
}

/*Footer*/

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: black;
}
.firstdiv{
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.seconddiv{
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headingfooter{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
}
.whitecircle{
  background-color: white;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.linkdivfooter{
  text-decoration: none;
  font-family: 'Bebas Neue';
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.linkdivfooter:hover{
  color:grey ;
}
.links{
  display: flex;
  padding-top: 30px;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.companylogofooter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  /* background-color: blue; */
  height: 100%;
}
.complogofooter{
  width: 250px;
  filter: invert(1);
}
.namefooter{
  font-family: 'Playfair Display';
  font-size: 30px;
  color: white;
}
.terms{
  color: white;
  font-family: 'Bebas Neue';
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.termshead{
  display: flex;justify-content: center;align-items: center;
}
.seconddiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.termslink{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin-top: 20px;
}

/*Footer*/



/*Tablet Size*/
@media (min-width: 600px) and (max-width: 1000px){
  .headerlinks{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .headerlinksresponsive{
    display: flex;
  }
  .checkbox{
    margin-right: 30px;
    scale: 0.7;
  }
  
  .menubox{
    width: 90%;
    height: auto;
    padding: 15px;
    position: fixed;
    top: 80px;
    left: 3%;
    right: 3%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: translateY(-100%);
  opacity: 0;
  }
  .menubox.open {
    transition: 0.5s;
    transform: translateY(0);
    opacity: 1;
  }
  .companylogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .companyname{
    font-family: "Playfair Display";
    color: white;
    font-weight: 400;
    font-size: 16px;
  }
  .headerlogo{
    width: 40px;
    filter: invert(1);
  }
  .responsivelinks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .linkdivresponsive{
    width: 100%;
    color: black;
    font-family: 'Bebas Neue';
    font-size: 20px;
    text-decoration: none;
  }
  .contentpage2{
    font-size: 14px;
    font-weight: 600;
    width: 75%;
    text-align: justify;
    color: grey;
    letter-spacing: 1.5px;
    line-height: 20px;
  }
  .productpage{
    margin-top: 40px;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .line1,.line2{
    width: 95%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .page6 {
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .dimensionsdiv {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .dimensionbox {
    width: 130px;
    height: 260px;
    border-radius: 12px;
    background-color: grey;
    margin: 12px;
    background-position: center;
    background-size: cover;
    position: relative; /* Ensure overlay positions correctly */
    overflow: hidden; /* Prevent overflow issues */
    display: flex;
    justify-content: start;
    align-items: end;
  }
  
  
  
  .dimensionbox::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent white overlay */
    pointer-events: none; /* Ensure overlay does not interfere with click events */
  }
  .dimcontent{
    color: white;
    font-family: 'Bebas Neue';
    font-size: 16px;
    position: relative;
    z-index: 2;
    margin-left: 22px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .page7{
    height: auto;
    padding-bottom: 20px;
    padding-top: 40px;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 40px;

  }
  .contentpage7{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: start;align-items:center;
    flex-direction: column;
    margin-left: 0px;
  }
  .imagepage7{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;align-items: center;
    transform: translateY(-80px);
  }
  .side3dimage{
    width: 50%;
  }
  .textpg7{
    font-size: 20px;
    color: black;
    text-align: justify;
    width: 80%;
    font-weight: 500;
  }

  /*Page8*/
  .page8{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .map{
    width:600px;
    height: 100vh;
    border: none;
    margin: 0;
    padding: 0;
  }
  /*Page8*/

  /*Footer*/
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: black;
  }
  .firstdiv{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seconddiv{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .headingfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .whitecircle{
    background-color: white;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .linkdivfooter{
    text-decoration: none;
    font-family: 'Bebas Neue';
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
  .linkdivfooter:hover{
    color:grey ;
  }
  .links{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .companylogofooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33%;
    /* background-color: blue; */
    height: 100%;
  }
  .complogofooter{
    width: 150px;
    filter: invert(1);
  }
  .namefooter{
    font-family: 'Playfair Display';
    font-size: 15px;
    color: white;
  }
  .terms{
    color: white;
    font-family: 'Bebas Neue';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .termshead{
    display: flex;justify-content: center;align-items: center;
  }
  .seconddiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .termslink{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
  }
  
  /*Footer*/
  
  


}
/*Tablet Size*/


/*Phone Size*/
@media (max-width: 600px){
  .headerlinks{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .menubox{
    width: 90%;
    height: auto;
    padding: 15px;
    position: fixed;
    top: 80px;
    left: 5%;
    right: 5%;
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
  }
  .headerlinksresponsive{
    display: flex;
  }
  .checkbox{
    margin-right: 10px;
    scale: 0.7;
  }
  
  .menubox{
    width: 90%;
    height: auto;
    padding: 15px;
    position: fixed;
    top: 80px;
    left: 5px;
    right: 5px;
    background-color: aliceblue;
    display: flex;
  }
  .companylogo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .companyname{
    font-family: "Playfair Display";
    color: white;
    font-weight: 400;
    font-size: 16px;
  }
  .headerlogo{
    width: 40px;
    filter: invert(1);
  }
  .responsivelinks{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .linkdivresponsive{
    width: 100%;
    color: black;
    font-family: 'Bebas Neue';
    font-size: 20px;
    text-decoration: none;
  }
  .carousel1,.carousel2,.carousel3{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .carousel1{
    background-image: url('/carousel1img1.jpg');
  }
  .carousel2{
    background-image: url('/carousel1img2.jpg');
  }
  .carousel3{
    background-image: url('/carousel1img3.jpg');
  }
  .carouseltext{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.875), transparent);
    padding-left: 50px;
  
  }
  .headercarousel{
    font-size: 50px;
    color: white;
    font-weight: 400;
    line-height: 40px;
  }
  .subheadcarousel{
    font-size: 20px;
    color: rgb(195, 195, 195);
    font-weight: 500;
    margin-top: 30px;
  }
  .infobutton{
    width: 150px;
    height: 45px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin-top: 30px;
    border: 2px solid transparent;
  }
  .infobutton:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    transition: 0.5s;
    cursor: pointer;
  }
  .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
  }
  .page2head{
    font-size: 20px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  .contentpage2{
    font-size: 13px;
    font-weight: 600;
    width: 80%;
    text-align: justify;
    color: grey;
    letter-spacing: 1.2px;
    line-height: 16px;
  }
  .overline{
    width: 60%;
    height: 2px;
    background-color: black;
    margin-bottom: 30px;
  }
  .productpage{
    margin-top: 40px;
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .line1,.line2{
    width: 95%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .headingpage3{
    font-size: 30px;
    color: black;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .linepg4{
    width: 150px;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.564);
    margin-top: 20px;
  }
  .page4 {
    height: auto;
    width: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contentpage4 {
    width: 80%;
    font-size: 18px;
    font-weight:500;
    text-align: justify;
  }
  .horizontalscrollcard {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    overflow-y: hidden; /* Hides vertical scrolling */
    width: 80%;
    margin-top: 50px;
    padding: 20px; /* Optional: padding for better aesthetics */
    scroll-snap-type: x mandatory; /* Optional: for snap scrolling */
  }
  .trustcard {
    flex: 0 0 auto; /* Prevents flex items from shrinking */
    width: 100%; /* Adjust width as necessary */
    height: 70vh;
    border-radius: 40px;
    background-color: black;
    margin-right: 20px;
    scroll-snap-align: start; /* Optional: for snap scrolling */
    position: relative; /* Needed to position the overlay */
    overflow: hidden; /* To clip the overlay */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
  }
  .trustcard1, .trustcard2, .trustcard3 {
    background-position: center;
    background-size: cover;
  }
  .trustcard1 {
    background-image: url('/eleganttilescard.jpg');
  }
  .trustcard2 {
    background-image: url('/valuestilecard.jpg');
  }
  .trustcard3 {
    background-image: url('/rdtilecard.jpg');
  }
  .trustcard:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to top, black, transparent);
    border-radius: 40px;
    z-index: 1;
  }
  .trustcard .content-container {
    z-index: 2; /* Ensure content is above the overlay */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }
  .contentpg4 {
    position: relative;
    z-index: 10;
    font-family: 'Bebas Neue';
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 100;
  }
  .heading {
    position: relative;
    z-index: 10;
    font-family: 'Bebas Neue';
    font-size: 30px;
    color: white;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .page2head{
    font-size: 30px;
  }
  .page5 {
    position: relative; /* Ensure positioning context for the overlay */
    height: 60vh;
    width: 100%;
    background-image: url('/eleganttilescard.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contentpage5 {
    position: relative; /* Ensure content is above the overlay */
    z-index: 2; /* Ensure the content is above the overlay */
    font-family: 'Bebas Neue';
    color: white;
    font-size: 14px;
    text-align: justify;
    width: 75%;
    padding: 20px; /* Optional: padding for better aesthetics */
  }

  .page6 {
    height: auto;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .dimensionsdiv {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .dimensionbox {
    width: 120px;
    height: 240px;
    border-radius: 12px;
    background-color: grey;
    margin: 12px;
    background-position: center;
    background-size: cover;
    position: relative; /* Ensure overlay positions correctly */
    overflow: hidden; /* Prevent overflow issues */
    display: flex;
    justify-content: start;
    align-items: end;
  }
  
  
  
  .dimensionbox::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent white overlay */
    pointer-events: none; /* Ensure overlay does not interfere with click events */
  }
  .dimcontent{
    color: white;
    font-family: 'Bebas Neue';
    font-size: 14px;
    position: relative;
    z-index: 2;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .pg6head{
    font-size: 20px;
  }
  .page7{
    height: auto;
    padding-bottom: 20px;
    padding-top: 40px;
    background-color: rgb(227, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 40px;

  }
  .contentpage7{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: start;align-items:center;
    flex-direction: column;
    margin-left: 0px;
  }
  .imagepage7{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;align-items: center;
    transform: translateY(-80px);
  }
  .side3dimage{
    width: 80%;
  }
  .textpg7{
    font-size: 16px;
    color: black;
    text-align: justify;
    width: 85%;
    font-weight: 500;
  }
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: black;
  }
  .firstdiv{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .seconddiv{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .headingfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: white;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .whitecircle{
    background-color: white;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .linkdivfooter{
    text-decoration: none;
    font-family: 'Bebas Neue';
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
  .linkdivfooter:hover{
    color:grey ;
  }
  .links{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  .companylogofooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: blue; */
    height: auto;
  }
  .complogofooter{
    width: 200px;
    filter: invert(1);
  }
  .namefooter{
    font-family: 'Playfair Display';
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
  }
  .terms{
    color: white;
    font-family: 'Bebas Neue';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .termshead{
    display: flex;justify-content: center;align-items: center;
  }
  .seconddiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .termslink{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
  }
  .exploremoredimbutton{
    margin-bottom: 20px;
  }
  
  /*Footer*/
  
  

}
/*Phone Size*/


/*Checkbox*/
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/*Checkbox*/



/*Company Page*/
.companypage1{
  width: 100%;
  height: 100vh;
  background-image: url('/companyimage.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}
.companypage1::after{
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
}
.companypageheadingpage1{
  font-family: 'Bebas Neue';
  font-weight: 600;
  font-size: 100px;
  color: white;
  letter-spacing: 1.5px;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comppagewhitecircle{
  background-color: white;
  width: 70px;
  height: 70px;
}
.companypage2{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comppage2heading{
  font-family: 'Bebas Neue';
  color: black;
  font-weight: 500;
  letter-spacing: 1.5px;
  display: flex;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.contentcomppage2{
  width: 80%;
  margin-top: 30px;
  font-size: 18px;
  font-family: 'Bebas Neue';
  font-weight: 500;
  text-align: justify;
  margin-bottom: 30px;
}
.quote{
  font-size: 24px;
}
.companypage3{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax{
  height: 100vh;
  width: 100%;
  text-align: center;
}
.parallaxcircle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
}
.soleroheadingparallax{
  font-size: 180px;
  font-family: 'Bebas Neue';
  color: white;
  /* -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px; */
  letter-spacing: 3px;
  font-weight: 600;
  display: flex;
  justify-content: center;align-items: center;
  position: absolute;
}
.parallax{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.parallaxcontent{
  background-color: rgba(0, 0, 0, 0.547);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.companypage4{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandidimg{
  width: 100%;
}
.brandidhead{
  font-size: 50px;
  font-family: 'Bebas Neue';
}
.contentbrandid{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textbrandid{
  font-family: 'Bebas Neue';
  font-size: 20px;
  color: #000;
  font-weight: 100;
  width: 80%;
  text-align: justify;
}
.imagebrandid{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('/brandid.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.line{
  width: 50%;
  height: 1px;
  background-color: #000;
  margin-top: 30px;
}
.companypage6{
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
.valuescontent{
  width: 80%;
  margin-top: 30px;
  font-family: 'Bebas Neue';
  color: black;
  font-weight: 400;
  font-size: 20px;
}
.trustcardcomp1 {
  background-image: url('/compcard1.jpg');
  background-position: center;
  background-size: cover;
}
.trustcardcomp2 {
  background-image: url('/compcard2.jpg');
  background-position: center;
  background-size: cover;
}
.trustcardcomp3 {
  background-image: url('/compcard3.jpg');
  background-position: center;
  background-size: cover;
}

/*Company Page*/



@media (max-width: 600px){
  .companypageheadingpage1{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 50px;
    color: white;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comppage2heading{
    font-size: 33px;
  }
  .contentcomppage2{
    font-size: 15px;
  }
  .parallaxcircle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
  }
  .soleroheadingparallax{
    font-size: 100px;
    font-family: 'Bebas Neue';
    color: white;
    letter-spacing: 3px;
    font-weight: 600;
    display: flex;
    justify-content: center;align-items: center;
    position: absolute;
  }
  .companypage4{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .brandidimg{
    width: 100%;
  }
  .brandidhead{
    font-size: 50px;
    font-family: 'Bebas Neue';
  }
  .contentbrandid{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .textbrandid{
    font-family: 'Bebas Neue';
    font-size: 15px;
    color: #000;
    font-weight: 100;
    width: 80%;
    text-align: justify;
  }
  .imagebrandid{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('/brandid.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .companypage6{
    margin-bottom: 40px;
  }
  
  
  
}

@media (max-width: 1000px) and (min-width :600px){
  .companypageheadingpage1{
    font-family: 'Bebas Neue';
    font-weight: 600;
    font-size: 80px;
    color: white;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textbrandid{
    font-family: 'Bebas Neue';
    font-size: 16px;
    color: #000;
    font-weight: 100;
    width: 80%;
    text-align: justify;
  }
}
.carouselbutton{
    text-decoration: none;
}

/*productspage*/
.productspage{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.prodpage1{
  width: 100%;
  height: 100vh;
  background-image: url('/productbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.prodpage1::after{
  content: '';
  height: 100vh;
  width: 100%;
  top: 0;right: 0;left: 0;bottom: 0;
  background-color: rgba(0, 0, 0, 0.555);
  position: absolute;
  z-index: 1;
}
.propage2{
  width: 100%;
  height: auto;
  padding-bottom:40px ;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productsection{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.prodback{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background: linear-gradient(to top , rgba(0, 0, 0, 0.495), transparent); */
}
.prodback:hover{
  scale: 1.15;
  transition: 0.5s;
}
.prodtext{
  font-family: 'Bebas Neue';
  font-size: 25px;
  color: white;
  font-weight: 100;
  position: absolute;
  bottom: 40px;
  left: 25px;
}
.prodpagename{
  font-size: 45px;
  font-family: 'Bebas Neue';
  color: white;
  font-weight: 500;
}



.productcardpage {
  width: 45%;
  height: 450px;
  background-color: grey;
  border-radius: 30px;
  margin: 10px;
  overflow: hidden;
  position: relative; /* For positioning the overlay */
}

.productcardpage::before { /* The gradient overlay */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
  z-index: 1;
  transition: opacity 0.5s; /* Adding transition for smooth hover effect */
  opacity: 1; /* Start fully opaque */
  cursor: pointer;
}

.prodback {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Ensure the image is below the overlay */
  position: relative; /* For z-index to work */
  transition: transform 0.5s; /* Add transition for the hover effect */
}

.productcardpage:hover .prodback {
  transform: scale(1.15); /* Apply the hover effect */
  cursor: pointer;
}

.prodtext {
  font-family: 'Bebas Neue';
  font-size: 25px;
  color: white;
  font-weight: 100;
  position: absolute;
  bottom: 40px;
  left: 25px;
  z-index: 2; /* Ensure the text is above the overlay */
}

.prodpagename {
  font-size: 45px;
  font-family: 'Bebas Neue';
  color: white;
  font-weight: 500;
  margin-right: 20px;
}
.prodlastpage {
  width: 100%;
  height: 60vh;
  padding-bottom: 40px;
  padding-top: 40px;
  background-image: url('/contactimage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative; /* Needed to position the overlay correctly */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notfoundheading{
  font-family: 'Bebas Neue';
  color: white;
  font-weight: 500;
  font-size: 70px;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.notfoundsubhead{
  font-family: 'Bebas Neue';
  color: rgb(180, 180, 180);
  font-weight: 100;
  font-size: 30px;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;

}
.contactusbutton{
  width: 180px;
  height: 45px;
  background-color: white;
  color: black;
  font-weight: 600;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: 20px;
}
.contactusbutton:hover{ 
  border: 2px solid white;
  background-color: transparent;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.prodlastpage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the overlay is above the background but below any text */
}



@media (max-width: 600px){
  .productcardpage {
    width: 90%;
    height: 350px;
    background-color: grey;
    border-radius: 30px;
    overflow: hidden;
    position: relative; /* For positioning the overlay */
    margin-bottom: 20px;
  }
  .productsection{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .notfoundheading{
    font-family: 'Bebas Neue';
    color: white;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.prodexpbutton{
  text-decoration: none;
}


/*Downloads Page*/
.downloadpage{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.downloadpage1{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/downloadsback.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.downloadpage1::after{
  content: '';
  top: 0;left: 0;right: 0;bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.604);
  position: absolute;
}
